.options {
    li {
        display: flex;
        gap: 50px;
        p {
            font-size: 21px;
        }
    }
    .option_title {
        display: block;
        margin: 10px;
    }
    .option_desc {
        background-color: #cbced2;
        padding: 5px;
    }
}